In [7]:
#Import dependencies
import pandas as pd
from pathlib import Path
from sqlalchemy import create_engine
import psycopg2

In [8]:
#Read data and create dataframe
#NOTE: file too large to open in excel

realestate_df = pd.read_csv(r"C:\Desktop\Analysis Projects\Testing_project_4\Resources\realtor-data.zip.csv.zip")
realestate_df

,brokered_by,status,price,bed,bath,acre_lot,street,city,state,zip_code,house_size,prev_sold_date
0,103378.0,for_sale,105000.0,3.0,2.0,0.12,1962661.0,Adjuntas,Puerto Rico,601.0,920.0,NaN
1,52707.0,for_sale,80000.0,4.0,2.0,0.08,1902874.0,Adjuntas,Puerto Rico,601.0,1527.0,NaN
2,103379.0,for_sale,67000.0,2.0,1.0,0.15,1404990.0,Juana Diaz,Puerto Rico,795.0,748.0,NaN
3,31239.0,for_sale,145000.0,4.0,2.0,0.10,1947675.0,Ponce,Puerto Rico,731.0,1800.0,NaN
4,34632.0,for_sale,65000.0,6.0,2.0,0.05,331151.0,Mayaguez,Puerto Rico,680.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2226377,23009.0,sold,359900.0,4.0,2.0,0.33,353094.0,Richland,Washington,99354.0,3600.0,2022-03-25
2226378,18208.0,sold,350000.0,3.0,2.0,0.10,1062149.0,Richland,Washington,99354.0,1616.0,2022-03-25
2226379,76856.0,sold,440000.0,6.0,3.0,0.50,405677.0,Richland,Washington,99354.0,3200.0,2022-03-24
2226380,53618.0,sold,179900.0,2.0,1.0,0.09,761379.0,Richland,Washington,99354.0,933.0,2022-03-24
2226381,108243.0,sold,580000.0,5.0,3.0,0.31,307704.0,Richland,Washington,99354.0,3615.0,2022-03-23

In [9]:
# Display the data types of the columns
column_dtypes = realestate_df.dtypes
print("Data types of columns:")
print(column_dtypes)

Data types of columns:
brokered_by       float64
status             object
price             float64
bed               float64
bath              float64
acre_lot          float64
street            float64
city               object
state              object
zip_code          float64
house_size        float64
prev_sold_date     object
dtype: object

In [10]:
#Checking to see if there are duplicates in the dataset
# Count duplicate rows based on all columns
num_duplicate_rows = realestate_df.duplicated().sum()

# Display the number of duplicate rows
print(f"Number of Duplicate Rows: {num_duplicate_rows}")

Number of Duplicate Rows: 0

In [11]:
#saving the original file as csv 
# Define the file path for the CSV output
output_file_path = 'original_realtor_df.csv'

# Save the filtered DataFrame to a CSV file
realestate_df.to_csv(output_file_path, index=False)

In [39]:
#Read data and create dataframe

realestate_df = pd.read_csv(r"C:\Desktop\Analysis Projects\Testing_project_4\Resources\realtor-data.zip.csv.zip")
realestate_df

# Create a SQLite database engine
engine = create_engine('sqlite:///realestate.db')

# Write DataFrame to SQLite database
realestate_df.to_sql('realestate', con=engine, if_exists='replace', index=False)

# Confirm the data has been written by querying the database
query = "SELECT * FROM realestate LIMIT 5;"  # Example query
result = engine.execute(query)
for row in result:
    print(row)

# Close the database connection
engine.dispose()

(103378.0, 'for_sale', 105000.0, 3.0, 2.0, 0.12, 1962661.0, 'Adjuntas', 'Puerto Rico', 601.0, 920.0, None)
(52707.0, 'for_sale', 80000.0, 4.0, 2.0, 0.08, 1902874.0, 'Adjuntas', 'Puerto Rico', 601.0, 1527.0, None)
(103379.0, 'for_sale', 67000.0, 2.0, 1.0, 0.15, 1404990.0, 'Juana Diaz', 'Puerto Rico', 795.0, 748.0, None)
(31239.0, 'for_sale', 145000.0, 4.0, 2.0, 0.1, 1947675.0, 'Ponce', 'Puerto Rico', 731.0, 1800.0, None)
(34632.0, 'for_sale', 65000.0, 6.0, 2.0, 0.05, 331151.0, 'Mayaguez', 'Puerto Rico', 680.0, None, None)

In [13]:
# Counts by states
state_counts = realestate_df['state'].value_counts()

print("State counts:")
print(state_counts)

State counts:
Florida                 249432
California              227215
Texas                   208335
New York                103159
North Carolina           85745
Illinois                 85280
Georgia                  80977
Pennsylvania             78373
Arizona                  72825
Virginia                 68763
Washington               62461
Ohio                     59207
New Jersey               48199
Maryland                 46052
Missouri                 45145
Minnesota                43412
Michigan                 42429
Wisconsin                42390
South Carolina           42367
Tennessee                40964
Massachusetts            38041
Oklahoma                 37140
Alabama                  34053
Colorado                 32293
Oregon                   32163
Kentucky                 26316
Louisiana                25815
Arkansas                 23045
Iowa                     23033
New Mexico               21074
Indiana                  18840
Idaho                    16760
Mississippi              16255
Kansas                   14858
Nevada                   14667
Utah                     14557
Connecticut              14008
West Virginia            12309
Montana                  10059
Delaware                  8628
Rhode Island              8157
Hawaii                    7243
District of Columbia      6625
Nebraska                  6309
Maine                     5065
South Dakota              4690
North Dakota              4268
Wyoming                   4039
New Hampshire             3642
Puerto Rico               3126
Vermont                   2600
Alaska                    2581
Virgin Islands             895
Guam                       489
New Brunswick                1
Name: state, dtype: int64

In [14]:
# List of unique states
unique_states = realestate_df['state'].unique()

print("Unique states:")
print(unique_states)

Unique states:
['Puerto Rico' 'Virgin Islands' 'Massachusetts' 'Connecticut'
 'New Hampshire' 'Vermont' 'New Jersey' 'New York' 'South Carolina'
 'Tennessee' 'Rhode Island' 'Virginia' 'Wyoming' 'Maine' 'Georgia'
 'Pennsylvania' 'West Virginia' 'Delaware' 'Louisiana' 'Ohio' 'California'
 'Colorado' 'Maryland' 'Missouri' 'District of Columbia' 'Wisconsin'
 'North Carolina' 'Kentucky' 'Michigan' 'Mississippi' 'Florida' 'Alabama'
 'New Brunswick' nan 'Texas' 'Arkansas' 'Idaho' 'Indiana' 'Illinois'
 'New Mexico' 'Iowa' 'Minnesota' 'South Dakota' 'Nebraska' 'North Dakota'
 'Montana' 'Oklahoma' 'Kansas' 'Oregon' 'Utah' 'Nevada' 'Washington'
 'Arizona' 'Hawaii' 'Guam' 'Alaska']

In [15]:
missing_value_counts =realestate_df.isna().sum()
print("Missing value counts per column:")
print(missing_value_counts)

Missing value counts per column:
brokered_by         4533
status                 0
price               1541
bed               481317
bath              511771
acre_lot          325589
street             10866
city                1407
state                  8
zip_code             299
house_size        568484
prev_sold_date    734297
dtype: int64

In [16]:
#Drop the following columns" brokered_by, street
# Delete columns "brokered_by" and "street"
del realestate_df['brokered_by']
del realestate_df['street']

# Display the updated DataFrame
print(realestate_df)

           status     price  bed  bath  acre_lot        city        state  \
0        for_sale  105000.0  3.0   2.0      0.12    Adjuntas  Puerto Rico
1        for_sale   80000.0  4.0   2.0      0.08    Adjuntas  Puerto Rico
2        for_sale   67000.0  2.0   1.0      0.15  Juana Diaz  Puerto Rico
3        for_sale  145000.0  4.0   2.0      0.10       Ponce  Puerto Rico
4        for_sale   65000.0  6.0   2.0      0.05    Mayaguez  Puerto Rico
...           ...       ...  ...   ...       ...         ...          ...
2226377      sold  359900.0  4.0   2.0      0.33    Richland   Washington
2226378      sold  350000.0  3.0   2.0      0.10    Richland   Washington
2226379      sold  440000.0  6.0   3.0      0.50    Richland   Washington
2226380      sold  179900.0  2.0   1.0      0.09    Richland   Washington
2226381      sold  580000.0  5.0   3.0      0.31    Richland   Washington

         zip_code  house_size prev_sold_date
0           601.0       920.0            NaN
1           601.0      1527.0            NaN
2           795.0       748.0            NaN
3           731.0      1800.0            NaN
4           680.0         NaN            NaN
...           ...         ...            ...
2226377   99354.0      3600.0     2022-03-25
2226378   99354.0      1616.0     2022-03-25
2226379   99354.0      3200.0     2022-03-24
2226380   99354.0       933.0     2022-03-24
2226381   99354.0      3615.0     2022-03-23

[2226382 rows x 10 columns]

In [17]:
# Specify columns to check for null values
columns_to_check = ['price', 'bed', 'bath', 'status', 'acre_lot','city','state','zip_code','house_size']

# Find and drop rows with null values in specified columns
realestate_df.dropna(subset=columns_to_check, inplace=True)

# Display the updated DataFrame
print(realestate_df)

           status     price  bed  bath  acre_lot           city        state  \
0        for_sale  105000.0  3.0   2.0      0.12       Adjuntas  Puerto Rico
1        for_sale   80000.0  4.0   2.0      0.08       Adjuntas  Puerto Rico
2        for_sale   67000.0  2.0   1.0      0.15     Juana Diaz  Puerto Rico
3        for_sale  145000.0  4.0   2.0      0.10          Ponce  Puerto Rico
5        for_sale  179000.0  4.0   3.0      0.46  San Sebastian  Puerto Rico
...           ...       ...  ...   ...       ...            ...          ...
2226377      sold  359900.0  4.0   2.0      0.33       Richland   Washington
2226378      sold  350000.0  3.0   2.0      0.10       Richland   Washington
2226379      sold  440000.0  6.0   3.0      0.50       Richland   Washington
2226380      sold  179900.0  2.0   1.0      0.09       Richland   Washington
2226381      sold  580000.0  5.0   3.0      0.31       Richland   Washington

         zip_code  house_size prev_sold_date
0           601.0       920.0            NaN
1           601.0      1527.0            NaN
2           795.0       748.0            NaN
3           731.0      1800.0            NaN
5           612.0      2520.0            NaN
...           ...         ...            ...
2226377   99354.0      3600.0     2022-03-25
2226378   99354.0      1616.0     2022-03-25
2226379   99354.0      3200.0     2022-03-24
2226380   99354.0       933.0     2022-03-24
2226381   99354.0      3615.0     2022-03-23

[1360347 rows x 10 columns]

Filtering dataset to exclude non-contiguous states and null values except for prev_sold_date.

In [21]:
# List of states to exclude (rows with these states will be removed)
states_to_exclude = ['Guam', 'Puerto Rico', 'Virgin Islands','New Brunswick','Hawaii','Alaska']

# Filter rows where state is NOT in the list of states to exclude
filtered_df = realestate_df[~realestate_df['state'].isin(states_to_exclude)]

# Display the filtered DataFrame
print(filtered_df)

           status     price  bed  bath  acre_lot      city          state  \
3403     for_sale  180000.0  2.0   1.0      0.34    Agawam  Massachusetts
3408     for_sale  239900.0  3.0   1.0      0.46    Agawam  Massachusetts
3409     for_sale  525000.0  3.0   3.0      0.45    Agawam  Massachusetts
3410     for_sale  289900.0  3.0   2.0      0.36    Agawam  Massachusetts
3413     for_sale  275000.0  4.0   2.0      0.11    Agawam  Massachusetts
...           ...       ...  ...   ...       ...       ...            ...
2226377      sold  359900.0  4.0   2.0      0.33  Richland     Washington
2226378      sold  350000.0  3.0   2.0      0.10  Richland     Washington
2226379      sold  440000.0  6.0   3.0      0.50  Richland     Washington
2226380      sold  179900.0  2.0   1.0      0.09  Richland     Washington
2226381      sold  580000.0  5.0   3.0      0.31  Richland     Washington

         zip_code  house_size prev_sold_date
3403       1001.0       676.0            NaN
3408       1001.0      1196.0            NaN
3409       1001.0      2314.0     2014-06-25
3410       1001.0      1276.0     2012-10-12
3413       1001.0      1732.0            NaN
...           ...         ...            ...
2226377   99354.0      3600.0     2022-03-25
2226378   99354.0      1616.0     2022-03-25
2226379   99354.0      3200.0     2022-03-24
2226380   99354.0       933.0     2022-03-24
2226381   99354.0      3615.0     2022-03-23

[1353433 rows x 10 columns]

In [25]:
# List of unique states
unique_states = filtered_df['state'].unique()

print("Unique states:")
print(unique_states)

Unique states:
['Massachusetts' 'Connecticut' 'New Jersey' 'New York' 'New Hampshire'
 'Vermont' 'Rhode Island' 'Wyoming' 'Maine' 'Pennsylvania' 'West Virginia'
 'Delaware' 'Ohio' 'Maryland' 'Virginia' 'Colorado' 'District of Columbia'
 'North Carolina' 'Kentucky' 'South Carolina' 'Tennessee' 'Georgia'
 'Alabama' 'Florida' 'Mississippi' 'Texas' 'Missouri' 'Arkansas'
 'Louisiana' 'Indiana' 'Illinois' 'Michigan' 'Wisconsin' 'Iowa'
 'Minnesota' 'South Dakota' 'Nebraska' 'North Dakota' 'Montana' 'Idaho'
 'Kansas' 'Oklahoma' 'New Mexico' 'Utah' 'Nevada' 'Washington' 'Oregon'
 'Arizona' 'California']

In [38]:
filtered_df.dtypes

status             object
price             float64
bed               float64
bath              float64
acre_lot          float64
city               object
state              object
zip_code          float64
house_size        float64
prev_sold_date     object
dtype: object

In [26]:
# Counts by states
state_counts = filtered_df['state'].value_counts()

print("State counts:")
print(state_counts)

State counts:
California              170947
Texas                   145377
Florida                 127658
Arizona                  54488
Pennsylvania             51944
New York                 50958
Georgia                  49240
Illinois                 46943
Washington               46435
Virginia                 44236
Ohio                     41195
North Carolina           37341
Maryland                 32980
Minnesota                32746
Missouri                 30157
Massachusetts            28064
Oklahoma                 26939
Michigan                 22107
Oregon                   21911
Colorado                 19544
New Jersey               19504
Wisconsin                18454
Tennessee                18310
South Carolina           17182
Iowa                     16497
Kentucky                 15749
Alabama                  14682
Louisiana                14482
New Mexico               11841
Idaho                    11603
Indiana                  11524
Arkansas                 11376
Kansas                   11214
Nevada                   10118
Utah                      9677
Connecticut               9469
Mississippi               7345
West Virginia             7005
Rhode Island              6563
Delaware                  6093
Montana                   5098
Nebraska                  4275
District of Columbia      2701
North Dakota              2397
Maine                     2273
South Dakota              2029
Wyoming                   1765
New Hampshire             1734
Vermont                   1263
Name: state, dtype: int64

In [ ]:
# Define the file path for the CSV output
output_file_path = 'filtered_df.csv'

# Save the filtered DataFrame to a CSV file
filtered_df.to_csv(output_file_path, index=False)

In [ ]:
#Creating a SQLite database

filtered_df = pd.read_csv('filtered_df.csv')
filtered_df

# Create a SQLite database engine
engine = create_engine('sqlite:///realestate.db')

# Write DataFrame to SQLite database
realestate_df.to_sql('filtered', con=engine, if_exists='replace', index=False)

# Confirm the data has been written by querying the database
query = "SELECT * FROM filtered LIMIT 5;"  # Example query
result = engine.execute(query)
for row in result:
    print(row)

# Close the database connection
engine.dispose()

To read in the US_GeoCode csv file, make necessary changes and prepare for use in database and visualization

In [29]:
#Read and create a dataframe for the US_GeoCodes file
# Specify the file path using raw string or escape backslashes
file_path =(r"C:\Desktop\Analysis Projects\Testing_project_4\Resources\US_GeoCode.csv")

# Read data from CSV file into a DataFrame
usgeocode_df = pd.read_csv(file_path)

# Display the DataFrame (optional)
print(usgeocode_df)

   state&teritory   latitude   longitude                       Name
0              AK  63.588753 -154.493062                     Alaska
1              AL  32.318231  -86.902298                    Alabama
2              AR  35.201050  -91.831833                   Arkansas
3              AZ  34.048928 -111.093731                    Arizona
4              CA  36.778261 -119.417932                 California
..            ...        ...         ...                        ...
56             MH   6.068394  171.989379           Marshall Islands
57             MP  15.183333  145.750000   Northern Mariana Islands
58             PW   7.514980  134.582520                      Palau
59             PR -66.105720   18.466330                Puerto Rico
60             VI  34.297878  -83.824066          US Virgin Islands

[61 rows x 4 columns]

In [30]:
usgeocode_df.dtypes

state&teritory     object
latitude          float64
longitude         float64
Name               object
dtype: object

In [36]:
# Rename the column 'old_column_name' to 'new_column_name'
usgeocode_df.rename(columns={'state&teritory' : 'state'}, inplace=True)
usgeocode_df

   state   latitude   longitude                       Name
0     AK  63.588753 -154.493062                     Alaska
1     AL  32.318231  -86.902298                    Alabama
2     AR  35.201050  -91.831833                   Arkansas
3     AZ  34.048928 -111.093731                    Arizona
4     CA  36.778261 -119.417932                 California
..   ...        ...         ...                        ...
56    MH   6.068394  171.989379           Marshall Islands
57    MP  15.183333  145.750000   Northern Mariana Islands
58    PW   7.514980  134.582520                      Palau
59    PR -66.105720   18.466330                Puerto Rico
60    VI  34.297878  -83.824066          US Virgin Islands

[61 rows x 4 columns]

In [37]:
# Define the file path for the CSV output
output_file_path = 'usgeocode.csv'

# Save the filtered DataFrame to a CSV file
usgeocode_df.to_csv(output_file_path, index=False)