Links:
https://www.w3schools.com/python/python_ml_multiple_regression.asp

In [21]:
#Import dependencies
import pandas as pd
from sklearn import linear_model 
from pathlib import Path
import matplotlib.pyplot as plt
import sqlalchemy.ext 
from sqlalchemy.ext.automap import automap_base
from sqlalchemy import create_engine, func
from sqlalchemy.orm import Session
from sqlalchemy import text

In [22]:
#Read data and create dataframe

filtered_df = pd.read_csv("Resources/filtered_df.csv")
#filtered_df

# Create a SQLite database engine
engine = create_engine('sqlite:///filtered_df.sqlite')

# reflect an existing database into a new model
Base=automap_base()

# reflect the tables
Base.prepare(autoload_with=engine)

# Write DataFrame to SQLite database
filtered_df.to_sql('realtor_filtered', con=engine, if_exists='replace', index=False)

# Confirm the data has been written by querying the database
query = "SELECT * FROM realtor_filtered;"  # Example query
with engine.connect() as conn:
    result = conn.execute(text(query))

In [23]:
df = result
df = pd.DataFrame(df)
df

,status,price,bed,bath,acre_lot,city,state,zip_code,house_size,prev_sold_date
0,for_sale,180000.0,2.0,1.0,0.34,Agawam,Massachusetts,1001.0,676.0,None
1,for_sale,239900.0,3.0,1.0,0.46,Agawam,Massachusetts,1001.0,1196.0,None
2,for_sale,525000.0,3.0,3.0,0.45,Agawam,Massachusetts,1001.0,2314.0,2014-06-25
3,for_sale,289900.0,3.0,2.0,0.36,Agawam,Massachusetts,1001.0,1276.0,2012-10-12
4,for_sale,275000.0,4.0,2.0,0.11,Agawam,Massachusetts,1001.0,1732.0,None
...,...,...,...,...,...,...,...,...,...,...
1353428,sold,359900.0,4.0,2.0,0.33,Richland,Washington,99354.0,3600.0,2022-03-25
1353429,sold,350000.0,3.0,2.0,0.10,Richland,Washington,99354.0,1616.0,2022-03-25
1353430,sold,440000.0,6.0,3.0,0.50,Richland,Washington,99354.0,3200.0,2022-03-24
1353431,sold,179900.0,2.0,1.0,0.09,Richland,Washington,99354.0,933.0,2022-03-24
1353432,sold,580000.0,5.0,3.0,0.31,Richland,Washington,99354.0,3615.0,2022-03-23

In [24]:
# reorder the columns
df2 = df[[ 'bed', 'bath','acre_lot','zip_code','house_size', 'price']]
df2.head()

   bed  bath  acre_lot  zip_code  house_size     price
0  2.0   1.0      0.34    1001.0       676.0  180000.0
1  3.0   1.0      0.46    1001.0      1196.0  239900.0
2  3.0   3.0      0.45    1001.0      2314.0  525000.0
3  3.0   2.0      0.36    1001.0      1276.0  289900.0
4  4.0   2.0      0.11    1001.0      1732.0  275000.0

In [25]:
# Set the features and the target
X = df2.iloc[:,1:5].values  
y = df2.iloc[:,5].values

In [26]:
regr = linear_model.LinearRegression()
regr.fit(X, y)

LinearRegression()

In [27]:
# Evaluating the model
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error, accuracy_score
 
# Making predictions on the same data or new data
predictions = regr.predict(X)
 
# Evaluating the model
mae = mean_absolute_error(y, predictions)
print(f'Absolute Error: {mae}')

mse = mean_squared_error(y, predictions)
print(f'Mean Squared Error: {mse}')
 
r2 = r2_score(y, predictions)
print(f'R-squared: {r2}')

Absolute Error: 332243.5969975744
Mean Squared Error: 1244585193699.7769
R-squared: 0.1605150461858218