Links:
https://www.w3schools.com/python/python_ml_multiple_regression.asp

In [2]:
import pandas as pd
from sklearn import linear_model

In [3]:
df = pd.read_csv('Resources/clean_realestate_data.csv')
df.head()

,status,price,bed,bath,acre_lot,city,state,zip_code,house_size
0,for_sale,525000.0,3.0,3.0,0.45,Agawam,Massachusetts,1001.0,2314.0
1,for_sale,289900.0,3.0,2.0,0.36,Agawam,Massachusetts,1001.0,1276.0
2,for_sale,384900.0,3.0,2.0,0.46,Agawam,Massachusetts,1001.0,1476.0
3,for_sale,199999.0,3.0,2.0,1.76,Agawam,Massachusetts,1001.0,1968.0
4,for_sale,419000.0,4.0,2.0,2.00,Pelham,Massachusetts,1002.0,1607.0

In [4]:
# reorder the columns
df2 = df[[ 'bed', 'bath','acre_lot','zip_code','house_size', 'price']]
df2.head()

   bed  bath  acre_lot  zip_code  house_size     price
0  3.0   3.0      0.45    1001.0      2314.0  525000.0
1  3.0   2.0      0.36    1001.0      1276.0  289900.0
2  3.0   2.0      0.46    1001.0      1476.0  384900.0
3  3.0   2.0      1.76    1001.0      1968.0  199999.0
4  4.0   2.0      2.00    1002.0      1607.0  419000.0

In [5]:
# Set the features and the target
X = df2.iloc[:,1:5].values  
y = df2.iloc[:,5].values

In [6]:
regr = linear_model.LinearRegression()
regr.fit(X, y)

LinearRegression()

In [7]:
# Evaluating the model
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error, accuracy_score
 
# Making predictions on the same data or new data
predictions = regr.predict(X)
 
# Evaluating the model
mae = mean_absolute_error(y, predictions)
print(f'Absolute Error: {mae}')

mse = mean_squared_error(y, predictions)
print(f'Mean Squared Error: {mse}')
 
r2 = r2_score(y, predictions)
print(f'R-squared: {r2}')

Absolute Error: 324254.24220556824
Mean Squared Error: 1177952578822.5334
R-squared: 0.16094956054583598